.acercaDe-header {
    color: $texto;
}

.form-control {
    background-color: $blancoFuente;
    /* Cambia el color de fondo del campo de entrada */
    box-shadow: 20px 20px 20px $background;
    /* Agrega sombra al campo de entrada */
}

.no-tienes-cuenta-container {
    font-size: 1.5em;
    color: $blancoFuente;
    /* Color blanco */
    font-weight: bold;
    /* Texto en negrita */
}

.font-weight-bold {
    font-weight: bold;
    /* Texto en negrita */
}

.btn-acceder,
.btn-registrarse {
    font-weight: bold;
    /* Texto en negrita */
}

.container-border {
    border: 2px solid $azulPrimario;
    /* Color del borde */
    border-radius: 15px;
    /* Radio de la esquina del borde */
    padding: 20px;
    /* Espaciado interno del container */
    margin-bottom: 20px;
    /* Espaciado inferior del container */
}

.acercaDe {
    background-color: $azulSecundario;

    fon .acercaDe-text {
        color: $texto;
    }
}

.letraLucecine {
    font-size: 24px;
}

.letrasImg {
    font-size: 60px;
}