.contact {

    .contact-body {
        color: $texto;
    }

    .contact-main {
        padding: 20px;
    }

}

.contact p {
    color: $primary;
    /*color de letra para los parrafos */
}

.contact h5 {
    color: $primary;
}

#wave1 {
    color: #45A1E3;
}