.bannerDatos {
    height: 320px;
    background-color: red;
}

.linksMenu {
    
    transition: color 0.3s;
    &:hover {
        color: $primary;
    }

    &.active {
        color: $primary;
    }
}

.linksContenido {
    transition: color 0.3s;
    color: $primary;
    &:hover {
        color: $primary;
    }

    &.active {
        color: $primary;
    }

}


.container-border {
    border: 2px solid $azulPrimario;
    /* Color del borde */
    border-radius: 15px;
    /* Radio de la esquina del borde */
    padding: 20px;
    /* Espaciado interno del container */
    margin-bottom: 20px;
    /* Espaciado inferior del container */
}

.datosUsuario {
    background-color: $azulSecundario;
    .datosUsuario-header {
        color: $primary;
        font-family: $headings-font-family;
    }
    .datosUsuario-text {
        color: $texto;
        font-family: $font-family-sans-serif;
    }

    .datosUsuario-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: $border-radius;
        overflow: hidden;
        background-color: $secondary;

        .datosUsuario-item {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, .1);

            &:hover {
                opacity: 1;
            }

            .datosUsuario-item-content {
                font-size: 1.5rem;
            }
        }
    }
}