.home {

    

    .home-header {
        font-family: $headings-font-family;
    }
    .home-text {
        font-family: $font-family-sans-serif;
    }    
}

.home h3 {
    color: $primary;
    margin-top: 20px;
    margin-left: 20px;
}

.img1 img {
    width: 200px;
    margin-bottom: 20px;
}

.img2 img{
    width: auto;
    
}