.inicioSesion-header {
    color: $texto;
}

.form-control {
    background-color: $blancoFuente;
    /* Cambia el color de fondo del campo de entrada */
    box-shadow: 20px 20px 20px $background;
    /* Agrega sombra al campo de entrada */
}

.no-tienes-cuenta-container {
    font-size: 1.5em;
    color: $blancoFuente;
    /* Color blanco */
    font-weight: bold;
    /* Texto en negrita */
}

.font-weight-bold {
    font-weight: bold;
    /* Texto en negrita */
}

.btn-acceder,
.btn-registrarse {
    font-weight: bold;
    /* Texto en negrita */
}

.container-border {
    border: 2px solid $azulPrimario;
    /* Color del borde */
    border-radius: 15px;
    /* Radio de la esquina del borde */
    padding: 20px;
    /* Espaciado interno del container */
    margin-bottom: 20px;
    /* Espaciado inferior del container */
}

.inicioSesion {
    background-color: $azulSecundario;

    .inicioSesion-text {
        color: $texto;
    }
}

.letraInicioSesion {
    font-size: 1.3em;
}

.margenCheckbox {
    margin-right: 10px;
    transform: scale(1.5);

}

.letraCheckbox {
    font-size: 1.2em;
    display: flex;
    align-items: center;
}


.inicioSesion label {
    color: $texto;
    font-weight: bold;
}