.bannerDatos {
    height: 320px;
}

.linksMenu {
    
    transition: color 0.3s;
    &:hover {
        color: $primary;
    }

    &.active {
        color: $primary;
    }
}
.colorTitulo{
    color: $titulo;
}


.series-Peliculas {

    .series-Peliculas-header {
        color: $texto;
        font-family: $headings-font-family;
        font-size:$headings-font-size;
    }
    .series-Peliculas-text {
        color: $texto;
        font-family: $font-family-sans-serif;
    }

    .series-Peliculas-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: $border-radius;
        overflow: hidden;
        background-color: $secondary;

        .series-Peliculas-item {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition-base;
            opacity: 0;
            background-color: fade-out($primary, .1);

            &:hover {
                opacity: 1;
            }

            .series-Peliculas-item-content {
                font-size: 1.5rem;
            }
        }
    }
}
.container-fluid::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
    height: 5px; /* Altura del scrollbar */
   
}

.container-fluid::-webkit-scrollbar-track {
    background: transparent; /* Fondo del scrollbar */
}

.container-fluid::-webkit-scrollbar-thumb {
    background-color:$primary; /* Color del scrollbar */
    border-radius: 2px; /* Borde del scrollbar */
    
}