.subscription-option {
    border: 2px solid $primary;
    /* Borde de color */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 100%;
    /* Ocupar la altura completa */
}

.subscription-option h5 {
    color: $primary;
    /* Color del título */
}

.subscription-option strong {
    color: $verdeStrong;
    /* Color del precio */
}

.subscription p {
    color: $texto;
}

.subscription h5 {
    color: $primary;
}

.subscription h2 {
    color: $primary;
}

.subscription a {
    color: $texto;
    font-weight: bold;
}