.terminosLegales {

    .terminosLegales-body {
        color: $texto;
    }

    .terminosLegales-main {
        padding: 20px;
    }

}

.terminosLegales p {
    color: $texto;
}

.terminosLegales h2 {
    color: $primary;
}