.terminosLegales {

    padding: 120px;

}

.terminosLegales p {
    color: $texto;
}

.terminosLegales h2, h1, h3, h4, h5 {
    color: $primary;
}

.terminosLegales ul {
    color: $texto;
}

.terminosLegales a {
    color: $primary;
}