.list-group {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    .list-group-item {
        color: $texto;
        background-color: $background;
          &:hover,
          &:focus {
            color: $primary;
            background-color: shade-color($background, 10%);
          }
    
          &.active {
            color: $white;
            background-color: $primary;
          }
      }
}





