// 
// Navbar
// 

#imagenUsuario {
    width: 110px;
    height: 110px;
}

#span {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    color: $primary;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    padding: 30px;

    .navbar-brand {
        color: $white;
    }

    .navbar-nav {
        margin-top: 1rem;

        li.nav-item {
            a.nav-link a.dropdown-item {
                color: $white;

                &:hover {
                    color: $primary;
                }

                &:active,
                &:focus {
                    color: $white;
                }

                &.active {
                    color: $primary;
                }
            }

            div.dropdown-menu {
                a.dropdown-item {
                    &:hover {
                        background-color: $primary;

                    }
                }
            }
        }
    }

    .navbar-toggler {
        font-size: 80%;
        padding: 0.8rem;
    }
}


@include media-breakpoint-up(md) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;

        .navbar-brand {
            font-size: $headings-font-size;
        }

        .navbar-nav {
            margin-top: 0;
        }

        .navbar-nav>li.nav-item>a.nav-link.active {
            color: $white;
            background: $primary;

            &:active,
            &:focus,
            &:hover {
                color: $white;
                background: $primary;
            }
        }
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar-brand {
            font-size: $headings-font-size;
        }
    }
}

#logoNav {
    width: 100px;
    height: 100px;
}

#UserNav {
    width: 100px;
    background-color: $secondary;
}

.container-fluid {
    // Estilos generales para el contenedor fluido, ajusta según sea necesario
}

.col {
    // Estilos generales para la columna, ajusta según sea necesario
}

.custom-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    .custom-li {
        margin-left: 10px; // Ajusta el margen según sea necesario

        .custom-logoNav {
            max-width: 9999px; // Ajusta el ancho máximo de la imagen
            border-radius: 50%; // Añade bordes redondeados a la imagen
        }

        .custom-username {
            margin-right: 10px; // Ajusta el margen a la derecha según sea necesario
            color: white; // Cambia el color del nombre de usuario a blanco
        }

        .custom-span {
            font-weight: bold; // Aplica negrita al nombre del usuario
        }

        .custom-link {
            text-decoration: none; // Elimina el subrayado de los enlaces
            color: #333; // Cambia el color del enlace
        }
    }
}