import { FunctionComponent } from "react";

const HOMEDesktop: FunctionComponent = () => {
  return (
    <div className="relative bg-gray-100 w-full h-[4013px] overflow-hidden flex flex-row flex-wrap items-center justify-center text-left text-xl text-text font-inter">
      <div className="bg-gray-200 w-[1442px] h-[4029px] overflow-hidden shrink-0 flex flex-row flex-wrap items-start justify-center pt-0 px-[87px] pb-[87px] box-border gap-[68px]">
        <div className="flex flex-col items-start justify-center">
          <div className="bg-gray-100 w-[1440px] h-[130px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[21px] px-[13px] box-border gap-[43px]">
            <div className="w-[226px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[29px] px-[23px] box-border gap-[10px]">
              <img
                className="relative w-[90px] h-20 overflow-hidden shrink-0"
                alt=""
                src="/userconfondo.svg"
              />
              <div className="relative inline-block w-[91px] h-7 shrink-0">
                Usuario
              </div>
            </div>
            <div className="w-[923px] overflow-hidden shrink-0 flex flex-row items-center justify-start py-[38px] px-[33px] box-border">
              <div className="relative w-[126px] h-[50px] overflow-hidden shrink-0">
                <div className="absolute top-[13px] left-[15px] inline-block w-[95px] h-6">
                  Peliculas
                </div>
              </div>
              <div className="relative w-[126px] h-[50px] overflow-hidden shrink-0 text-center">
                <div className="absolute top-[13px] left-[15px] inline-block w-[95px] h-6">
                  Series
                </div>
              </div>
              <div className="relative w-[126px] h-[50px] overflow-hidden shrink-0">
                <div className="absolute top-[13px] left-[31px] inline-block w-[95px] h-6">
                  Animes
                </div>
              </div>
              <div className="relative w-[126px] h-[50px] overflow-hidden shrink-0">
                <div className="absolute top-[13px] left-[31px] inline-block w-[95px] h-6">
                  Ayuda
                </div>
              </div>
              <div className="relative w-[126px] h-[50px] overflow-hidden shrink-0">
                <div className="absolute top-[13px] left-[18px] inline-block w-[121px] h-6">
                  <span>Acerca</span>
                  <span className="text-deepskyblue">{` `}</span>
                  <span>de</span>
                </div>
              </div>
              <div className="relative w-[204px] h-[50px] overflow-hidden shrink-0">
                <div className="absolute top-[13px] left-[31px] inline-block w-[215px] h-6">
                  Buscar
                </div>
              </div>
            </div>
            <img
              className="relative w-32 h-[109px] object-cover"
              alt=""
              src="/logo-lucecine-1@2x.png"
            />
          </div>
        </div>
        <div className="flex flex-col items-start justify-center gap-[71px] text-deepskyblue font-roboto-condensed">
          <b className="relative inline-block w-[1045px] h-14 shrink-0">
            RECOMENDACIONES
          </b>
          <div className="w-[1079px] h-[370px] overflow-hidden shrink-0 flex flex-row items-center justify-center gap-[45px] text-center text-mini text-text font-signika-negative">
            <img
              className="relative w-72 h-[356px] object-cover"
              alt=""
              src="/rectangle-1@2x.png"
            />
            <div className="relative w-[732px] h-[356px]">
              <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
                <p className="m-0">&nbsp;</p>
                <p className="m-0">&nbsp;</p>
                <p className="m-0">
                  <b>{`Lorem ipsum `}</b>
                </p>
                <p className="m-0">
                  dolor sit amet, consectetur adipiscing elit. Nullam eu leo
                  dignissim, rutrum ante sagittis, hendrerit lorem. Phasellus
                  sed pellentesque augue. Nunc iaculis tellus eget velit dapibus
                  suscipit. Nam eget vestibulum libero, ut consequat tortor.
                  Morbi convallis mattis tortor, eu scelerisque nisl rutrum a.
                  Nullam molestie nisi id suscipit gravida. Quisque pulvinar
                  sapien vitae faucibus porta. Nullam sit amet luctus eros. Duis
                  vehicula mollis vestibulum. Nullam tristique magna nec
                  accumsan sodales. Curabitur tellus est, luctus at sapien eget,
                  venenatis tincidunt lacus. Sed non erat gravida, consequat
                  nibh dignissim, vehicula nulla. Mauris purus diam, pharetra id
                  risus eu, pulvinar lobortis neque. Vivamus facilisis et quam
                  et elementum.
                </p>
                <p className="m-0">
                  Nullam nec molestie augue, sed lacinia nunc. Quisque sit amet
                  enim non turpis gravida vestibulum. Curabitur congue ligula
                  tristique, sagittis est sit amet, efficitur quam. Mauris
                  condimentum lorem id orci auctor, a elementum orci dapibus. Ut
                  porttitor lobortis placerat. Proin sit amet elit blandit,
                  facilisis velit quis, auctor ante. Vestibulum eu cursus risus,
                  vitae tincidunt neque. Curabitur lacinia lacus sed bibendum
                  eleifend. Cras volutpat ex a tempor viverra. In sed odio in
                  neque suscipit placerat vel ut purus. Sed eu augue a magna
                  mattis suscipit. Morbi ut consectetur orci. Fusce molestie
                  fringilla tortor quis dictum.
                </p>
              </div>
            </div>
          </div>
          <div className="w-[1094px] h-[275px] overflow-hidden shrink-0 flex flex-row items-center justify-center py-0 px-[13px] box-border gap-[70px]">
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-44@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-45@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-46@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-47@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-48@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-49@2x.png"
            />
          </div>
          <b className="relative inline-block w-[1082px] h-[53px] shrink-0">
            PELICULAS
          </b>
          <div className="w-[1080px] h-[371px] overflow-hidden shrink-0 flex flex-row items-center justify-center gap-[45px] text-center text-mini text-text font-signika-negative">
            <img
              className="relative w-72 h-[356px] object-cover"
              alt=""
              src="/rectangle-11@2x.png"
            />
            <div className="relative w-[732px] h-[356px]">
              <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
                <p className="m-0">&nbsp;</p>
                <p className="m-0">&nbsp;</p>
                <p className="m-0">
                  <b>{`Lorem ipsum `}</b>
                </p>
                <p className="m-0">
                  dolor sit amet, consectetur adipiscing elit. Nullam eu leo
                  dignissim, rutrum ante sagittis, hendrerit lorem. Phasellus
                  sed pellentesque augue. Nunc iaculis tellus eget velit dapibus
                  suscipit. Nam eget vestibulum libero, ut consequat tortor.
                  Morbi convallis mattis tortor, eu scelerisque nisl rutrum a.
                  Nullam molestie nisi id suscipit gravida. Quisque pulvinar
                  sapien vitae faucibus porta. Nullam sit amet luctus eros. Duis
                  vehicula mollis vestibulum. Nullam tristique magna nec
                  accumsan sodales. Curabitur tellus est, luctus at sapien eget,
                  venenatis tincidunt lacus. Sed non erat gravida, consequat
                  nibh dignissim, vehicula nulla. Mauris purus diam, pharetra id
                  risus eu, pulvinar lobortis neque. Vivamus facilisis et quam
                  et elementum.
                </p>
                <p className="m-0">
                  Nullam nec molestie augue, sed lacinia nunc. Quisque sit amet
                  enim non turpis gravida vestibulum. Curabitur congue ligula
                  tristique, sagittis est sit amet, efficitur quam. Mauris
                  condimentum lorem id orci auctor, a elementum orci dapibus. Ut
                  porttitor lobortis placerat. Proin sit amet elit blandit,
                  facilisis velit quis, auctor ante. Vestibulum eu cursus risus,
                  vitae tincidunt neque. Curabitur lacinia lacus sed bibendum
                  eleifend. Cras volutpat ex a tempor viverra. In sed odio in
                  neque suscipit placerat vel ut purus. Sed eu augue a magna
                  mattis suscipit. Morbi ut consectetur orci. Fusce molestie
                  fringilla tortor quis dictum.
                </p>
              </div>
            </div>
          </div>
          <div className="w-[1096px] h-[277px] overflow-hidden shrink-0 flex flex-row items-center justify-center py-0 px-[13px] box-border gap-[70px]">
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-441@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-451@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-461@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-471@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-481@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-491@2x.png"
            />
          </div>
          <b className="relative inline-block w-[1072px] h-[53px] shrink-0">
            <p className="m-0">SERIES</p>
          </b>
          <div className="w-[1080px] h-[371px] overflow-hidden shrink-0 flex flex-row items-center justify-center gap-[45px] text-center text-mini text-text font-signika-negative">
            <img
              className="relative w-72 h-[356px] object-cover"
              alt=""
              src="/rectangle-12@2x.png"
            />
            <div className="relative w-[732px] h-[356px]">
              <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
                <p className="m-0">&nbsp;</p>
                <p className="m-0">&nbsp;</p>
                <p className="m-0">
                  <b>{`Lorem ipsum `}</b>
                </p>
                <p className="m-0">
                  dolor sit amet, consectetur adipiscing elit. Nullam eu leo
                  dignissim, rutrum ante sagittis, hendrerit lorem. Phasellus
                  sed pellentesque augue. Nunc iaculis tellus eget velit dapibus
                  suscipit. Nam eget vestibulum libero, ut consequat tortor.
                  Morbi convallis mattis tortor, eu scelerisque nisl rutrum a.
                  Nullam molestie nisi id suscipit gravida. Quisque pulvinar
                  sapien vitae faucibus porta. Nullam sit amet luctus eros. Duis
                  vehicula mollis vestibulum. Nullam tristique magna nec
                  accumsan sodales. Curabitur tellus est, luctus at sapien eget,
                  venenatis tincidunt lacus. Sed non erat gravida, consequat
                  nibh dignissim, vehicula nulla. Mauris purus diam, pharetra id
                  risus eu, pulvinar lobortis neque. Vivamus facilisis et quam
                  et elementum.
                </p>
                <p className="m-0">
                  Nullam nec molestie augue, sed lacinia nunc. Quisque sit amet
                  enim non turpis gravida vestibulum. Curabitur congue ligula
                  tristique, sagittis est sit amet, efficitur quam. Mauris
                  condimentum lorem id orci auctor, a elementum orci dapibus. Ut
                  porttitor lobortis placerat. Proin sit amet elit blandit,
                  facilisis velit quis, auctor ante. Vestibulum eu cursus risus,
                  vitae tincidunt neque. Curabitur lacinia lacus sed bibendum
                  eleifend. Cras volutpat ex a tempor viverra. In sed odio in
                  neque suscipit placerat vel ut purus. Sed eu augue a magna
                  mattis suscipit. Morbi ut consectetur orci. Fusce molestie
                  fringilla tortor quis dictum.
                </p>
              </div>
            </div>
          </div>
          <div className="w-[1096px] h-[277px] overflow-hidden shrink-0 flex flex-row items-center justify-center py-0 px-[13px] box-border gap-[70px]">
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-442@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-452@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-462@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-472@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-482@2x.png"
            />
            <div className="relative w-[120px] h-[150px]">
              <img
                className="absolute top-[0px] left-[0px] w-[120px] h-[150px] object-cover"
                alt=""
                src="/rectangle-492@2x.png"
              />
            </div>
          </div>
          <b className="relative inline-block w-[1044px] h-[53px] shrink-0">
            <p className="m-0">ANIMES</p>
          </b>
          <div className="w-[1080px] h-[371px] overflow-hidden shrink-0 flex flex-row items-center justify-center gap-[45px] text-center text-mini text-text font-signika-negative">
            <img
              className="relative w-72 h-[356px] object-cover"
              alt=""
              src="/rectangle-13@2x.png"
            />
            <div className="relative w-[732px] h-[356px]">
              <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
                <p className="m-0">&nbsp;</p>
                <p className="m-0">&nbsp;</p>
                <p className="m-0">
                  <b>{`Lorem ipsum `}</b>
                </p>
                <p className="m-0">
                  dolor sit amet, consectetur adipiscing elit. Nullam eu leo
                  dignissim, rutrum ante sagittis, hendrerit lorem. Phasellus
                  sed pellentesque augue. Nunc iaculis tellus eget velit dapibus
                  suscipit. Nam eget vestibulum libero, ut consequat tortor.
                  Morbi convallis mattis tortor, eu scelerisque nisl rutrum a.
                  Nullam molestie nisi id suscipit gravida. Quisque pulvinar
                  sapien vitae faucibus porta. Nullam sit amet luctus eros. Duis
                  vehicula mollis vestibulum. Nullam tristique magna nec
                  accumsan sodales. Curabitur tellus est, luctus at sapien eget,
                  venenatis tincidunt lacus. Sed non erat gravida, consequat
                  nibh dignissim, vehicula nulla. Mauris purus diam, pharetra id
                  risus eu, pulvinar lobortis neque. Vivamus facilisis et quam
                  et elementum.
                </p>
                <p className="m-0">
                  Nullam nec molestie augue, sed lacinia nunc. Quisque sit amet
                  enim non turpis gravida vestibulum. Curabitur congue ligula
                  tristique, sagittis est sit amet, efficitur quam. Mauris
                  condimentum lorem id orci auctor, a elementum orci dapibus. Ut
                  porttitor lobortis placerat. Proin sit amet elit blandit,
                  facilisis velit quis, auctor ante. Vestibulum eu cursus risus,
                  vitae tincidunt neque. Curabitur lacinia lacus sed bibendum
                  eleifend. Cras volutpat ex a tempor viverra. In sed odio in
                  neque suscipit placerat vel ut purus. Sed eu augue a magna
                  mattis suscipit. Morbi ut consectetur orci. Fusce molestie
                  fringilla tortor quis dictum.
                </p>
              </div>
            </div>
          </div>
          <div className="w-[1096px] h-[277px] overflow-hidden shrink-0 flex flex-row items-center justify-center py-0 px-[13px] box-border gap-[70px]">
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-443@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-453@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-463@2x.png"
            />
            <img
              className="relative w-[120px] h-[150px] object-cover"
              alt=""
              src="/rectangle-473@2x.png"
            />
            <img
              className="relative w-[120px] h-[152px] object-cover"
              alt=""
              src="/rectangle-483@2x.png"
            />
            <img
              className="relative w-[110px] h-[150px] object-cover"
              alt=""
              src="/rectangle-493@2x.png"
            />
          </div>
        </div>
        <div className="flex flex-col items-start justify-center">
          <div className="bg-gray-100 w-[1441px] overflow-hidden flex flex-col items-center justify-center p-2.5 box-border gap-[10px]">
            <div className="overflow-hidden flex flex-col items-center justify-center py-2.5 px-[54px] gap-[10px]">
              <div className="relative inline-block w-[278px] h-[26px] shrink-0">
                Siguenos en nuestras redes
              </div>
              <div className="overflow-hidden flex flex-row items-center justify-center py-0 px-px gap-[10px]">
                <img
                  className="relative w-10 h-10 overflow-hidden shrink-0"
                  alt=""
                  src="/instagram.svg"
                />
                <img
                  className="relative w-10 h-10 overflow-hidden shrink-0"
                  alt=""
                  src="/facebook.svg"
                />
                <img
                  className="relative w-10 h-10 overflow-hidden shrink-0"
                  alt=""
                  src="/tiktok.svg"
                />
              </div>
            </div>
            <div className="overflow-hidden flex flex-row items-center justify-start p-2.5 gap-[30px]">
              <div className="relative [text-decoration:underline] inline-block w-[156px] h-7 shrink-0">
                Sobre Nosotros
              </div>
              <div className="relative [text-decoration:underline] inline-block w-[111px] h-7 shrink-0">
                Contacto
              </div>
              <div className="relative [text-decoration:underline] inline-block w-[97px] h-7 shrink-0">
                Cuenta
              </div>
              <div className="relative [text-decoration:underline] inline-block w-[181px] h-7 shrink-0">
                Términos Legales
              </div>
              <div className="relative [text-decoration:underline] inline-block w-[78px] h-7 shrink-0">
                Ayuda
              </div>
              <div className="relative [text-decoration:underline] inline-block w-[156px] h-7 shrink-0">
                Subscripciones
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  );
};