import { FunctionComponent } from "react";

const HOMEMovil: FunctionComponent = () => {
  return (
    <div className="relative bg-background w-full h-[1743px] overflow-hidden flex flex-col items-center justify-start gap-[2px] text-center text-xs text-primary font-roboto-condensed">
      <div className="relative box-border w-[370px] h-[67px] text-right text-base font-abril-fatface border-b-[2px] border-solid border-accent">
        <div className="absolute w-full top-[0px] right-[0px] left-[0px] rounded bg-background h-[58px]" />
        <div className="absolute w-[calc(100%_-_85px)] top-[calc(50%_-_11.5px)] left-[64px] leading-[23px] inline-block">
          LuceCine
        </div>
        <img
          className="absolute top-[calc(50%_-_8.5px)] left-[22px] w-[18px] h-[18px]"
          alt=""
          src="/-icon.svg"
        />
      </div>
      <b className="relative inline-block text-left w-[356px] h-[15px] shrink-0">
        RECOMENDACIONES
      </b>
      <div className="w-[349px] h-[182px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border text-mini text-white font-signika-negative">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/image@2x.png"
        />
        <div className="relative w-[97px] h-[141px]">
          <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
            <b>Lorem ipsum</b>
            <span>{` dolor sit amet, consectetur adipiscing elit. Nullam eu leo dignissim, rutrum ante `}</span>
          </div>
        </div>
      </div>
      <div className="w-[432px] h-[196px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border">
        <img
          className="relative w-[120px] h-[150px] object-cover"
          alt=""
          src="/rectangle-50@2x.png"
        />
        <img
          className="relative w-[120px] h-[150px] object-cover"
          alt=""
          src="/rectangle-51@2x.png"
        />
      </div>
      <b className="relative inline-block text-left w-[356px] h-[15px] shrink-0">
        PELICULAS
      </b>
      <div className="w-[349px] h-[182px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border text-mini text-white font-signika-negative">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-54@2x.png"
        />
        <div className="relative w-[97px] h-[141px]">
          <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
            <b>Lorem ipsum</b>
            <span>{` dolor sit amet, consectetur adipiscing elit. Nullam eu leo dignissim, rutrum ante `}</span>
          </div>
        </div>
      </div>
      <div className="w-[432px] h-[196px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-501@2x.png"
        />
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-511@2x.png"
        />
      </div>
      <b className="relative inline-block text-left w-[356px] h-[15px] shrink-0">
        SERIES
      </b>
      <div className="w-[349px] h-[182px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border text-mini text-white font-signika-negative">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-541@2x.png"
        />
        <div className="relative w-[97px] h-[141px]">
          <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
            <b>Lorem ipsum</b>
            <span>{` dolor sit amet, consectetur adipiscing elit. Nullam eu leo dignissim, rutrum ante `}</span>
          </div>
        </div>
      </div>
      <div className="w-[432px] h-[196px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-502@2x.png"
        />
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-512@2x.png"
        />
      </div>
      <b className="relative inline-block text-left w-[356px] h-[15px] shrink-0">
        ANIMES
      </b>
      <div className="w-[349px] h-[182px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border text-mini text-white font-signika-negative">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-542@2x.png"
        />
        <div className="relative w-[97px] h-[141px]">
          <div className="absolute h-full w-full top-[0%] left-[0%] inline-block">
            <b>Lorem ipsum</b>
            <span>{` dolor sit amet, consectetur adipiscing elit. Nullam eu leo dignissim, rutrum ante `}</span>
          </div>
        </div>
      </div>
      <div className="w-[432px] h-[196px] overflow-hidden shrink-0 flex flex-row items-center justify-between py-0 px-14 box-border">
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-503@2x.png"
        />
        <img
          className="relative w-[121px] h-[150px] object-cover"
          alt=""
          src="/rectangle-513@2x.png"
        />
      </div>
      <div className="bg-black w-[409px] h-[73px] flex flex-col items-start justify-start p-2.5 box-border gap-[10px] text-smi font-source-sans-pro">
        <div className="relative bg-black w-[388px] h-16 overflow-hidden shrink-0">
          <div className="absolute top-[0px] left-[0px] bg-black box-border w-[388px] flex flex-row items-start justify-start py-0 px-1 border-t-[1px] border-solid border-primary">
            <div className="flex-1 flex flex-col items-center justify-center py-3 px-0 gap-[4px] z-[0]">
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon.svg"
              />
              <div className="relative">Explorar</div>
            </div>
            <div className="flex-1 flex flex-col items-center justify-center py-3 px-0 gap-[4px] z-[1]">
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon1.svg"
              />
              <div className="relative">Favoritos</div>
            </div>
            <div className="flex-1 flex flex-col items-center justify-center py-3 px-0 gap-[4px] z-[2]">
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon2.svg"
              />
              <div className="relative">Inicio</div>
            </div>
            <div className="flex-1 flex flex-col items-center justify-center py-3 px-0 gap-[4px] z-[3]">
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon3.svg"
              />
              <div className="relative">Notificaciones</div>
            </div>
            <div className="flex-1 flex flex-col items-center justify-center py-3 px-0 gap-[4px] z-[4]">
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon4.svg"
              />
              <div className="relative">Perfil</div>
            </div>
            <div className="my-0 mx-[!important] absolute top-[-48px] left-[calc(50%_-_59px)] rounded-81xl bg-black flex flex-row items-center justify-center py-1 pr-3 pl-4 gap-[4px] z-[5] text-black">
              <div className="relative font-semibold">Abrir mapa</div>
              <img
                className="relative w-6 h-6 overflow-hidden shrink-0"
                alt=""
                src="/icon5.svg"
              />
            </div>
          </div>
          <img
            className="absolute top-[15px] left-[336px] w-5 h-5 overflow-hidden"
            alt=""
            src="/user.svg"
          />
          <img
            className="absolute h-[34.38%] w-[6.44%] top-[17.19%] right-[66.24%] bottom-[48.44%] left-[27.32%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/vector.svg"
          />
          <img
            className="absolute top-[12px] left-[182px] w-[25px] h-[22px] overflow-hidden"
            alt=""
            src="/home.svg"
          />
          <img
            className="absolute top-[12px] left-[257px] w-[25px] h-[25px] overflow-hidden"
            alt=""
            src="/campana.svg"
          />
        </div>
        <div className="relative bg-primary box-border w-0.5 h-px border-t-[1px] border-solid border-black" />
      </div>
    </div>
  );
};
